.navbar {
    backdrop-filter: blur(11px);
    border: 5px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 9px;
    display: flex;
    flex: 1;
    animation: transformAnimation 3s ease;
}


.unordered-list {
    list-style-type: none;
    margin: 0;
    flex: 3;
    padding: 0;
    overflow: hidden;
}

.li {
    float: right;
    margin-left: 20px
}

.navbar_links {
    padding: 10px;
    border-radius: 15px;
    margin: 4px;
    color: white;

    cursor: pointer;
}

.navbar_title {
    color: white;
}

.navbar_toggle {
    color: #ffffff;
}

.navbar_links:hover {
    background-color: blanchedalmond;

}

.mainDivOfProfileSec {
    padding: 20px;
    flex-direction: row;
    display: flex;
    flex: 1;
    border: 5px solid rgba(255, 255, 255, 0.7);
    border-radius: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / .4);
    backdrop-filter: blur(11px);
    animation: transformAnimation 2s ease;
}

.cardStyle {
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
    color: white;
    border: 5px white solid;
    animation: transformAnimation 4s ease;
}

@keyframes transformAnimation {
    0% {
        /* Initial state */
        transform: translateX(-100%);
    }
    50% {
        /* Intermediate state */
        transform: translateX(10%);
    }
    100% {
        /* Final state */
        transform: translateX(1%);
    }
}

@keyframes typingUp {
    from {
        width: 0
    }
    to {
        width: 190px
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 120px
    }
}

.profileDp {
    width: 178px;
    height: 178px;
    border-radius: 100%;
    align-self: center;
    justify-content: center;
    animation: transformAnimation 3s ease;

}

.logosDiv {
    flex: 1;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center
}

.singleLogo {
    min-width: 160px;
    margin: 4px;
    flex: 1;
    display: flex;
    flex-direction: row;

}

.singleLogo:hover {
    transform: scale(120%);
    transition-duration: .2s;
}

.logo_anchor {
    flex: 1;
    text-align: center;
    text-decoration: none;

}

.anchorImage {
    width: 50px;
    height: 50px;
    flex: 1
}

.anchorText {
    flex: 2;
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.my_name_up {
    overflow: hidden;
    font-size: 24px;
    width: 0;
    height: 40px;
    color: white;
    border-right: 3px solid orangered;
    animation: typingUp 3s forwards;
}

.my_name {
    overflow: hidden;
    border-right: 3px solid orangered;
    font-size: 24px;
    width: 0;
    height: 40px;
    color: white;
    animation: typing 5.6s forwards;
}

.skillSectionDiv {
    animation: transformAnimation 3s ease;
    backdrop-filter: blur(19px);
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / .4);
    border: rgba(255, 255, 255, 0.7) 5px solid;

}

.projectSectionDiv {
    animation: transformAnimation 3s ease;
    backdrop-filter: blur(19px);
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 / .4);
    border: rgba(255, 255, 255, 0.7) 5px solid;

}

.skillText {
    font-size: 24px;
    width: fit-content;
    padding: 10px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.7) 5px dashed;
    border-radius: 18px;

}

.projectText {
    font-size: 24px;
    width: fit-content;
    padding: 10px;
    color: white;
    border-bottom: rgba(255, 255, 255, 0.7) 5px dashed;
    border-radius: 18px;

}

.grid-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    animation: transformAnimation 4s ease;
}

.grid-item {
    width: 75px;
    height: 75px;
    text-align: center;
    margin: 15px;

}

.grid-item:hover {
    transition-duration: .2s;
    transform: scale(120%);

}

.skillTexts {

    font-size: 14px;
    color: white;
    font-weight: bold;
}

.headerText {
    flex: 1;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.skillsSectionAnchors {
    text-decoration: none;
}

.projectsTitles {
    color: white;
}

.ullistProjects {
    list-style: none;
    border-left: 4px solid white;
    margin-left: 50px;
    padding-left: 26px;
}

.ullistProjects li {
    color: white;
    list-style-type: none;
    padding-left: 9px;
    position: relative;
    top: 9px;
}

.ullistProjects li::before {
    content: "";
    display: block;
    width: 28px;
    position: absolute;
    left: -1.5rem;
    top: 9px;
    height: 2px;
    background-color: white;

}